<div class="
    {{ entryClass }}
    background-{{ color }}"
    data-block="bach">
    <div class="category-icon parent-category-{{ entry.categoryName.value }}"></div>
    <div class="category-description-text">
        <h2>{{ entry.categoryTitle }}</h2>
        {{ entry.categoryDescription }}
    </div>
</div>