<div class="{{ entryClass }}" style="background: #FFF;">
    <a href="{{ entry.linkToEntry.first.url }}"
       style="background: url('{{ entry.image.first.url }}') no-repeat center center; background-size: contain;
               display: block; height: 100%; ">
    </a>
</div>
{#<div class="{{ entryClass }}">#}
    {#<a href="{{ entry.linkToEntry.first.url }}">#}
        {#<img src="{{ entry.image.first.url }}" alt="">#}
    {#</a>#}
{#</div>#}